<%= form_for(hourlyrate) do |f| %>
    <% if hourlyrate.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(hourlyrate.errors.count, "error") %> prohibited this hourlyrate from being saved:</h2>
  
        <ul>
        <% hourlyrate.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= f.label :rate %>
      <%= f.text_field :rate %>
    </div>

  
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
  