<h1>Department Page</h1>

<p id="notice"><%= notice %></p>

<% @departments.each do |department|%>
    <%= department.name %>
    <%= link_to 'Show', department %>
    <td><%= link_to 'Edit', edit_department_path(department) %></td>
    <%= link_to 'Destroy', department, method: :delete, data: { confirm: 'Are you sure'} %>
    <br>
<% end %>