<%= form_for(project) do |f| %>
    <% if project.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>
  
        <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
  
    <div class="field">
      <%= f.label :manager %>
      <%= f.text_area :manager, row: 10, cols: 60 %>
    </div>
  
    <div class="field">
      <%= f.label :budget %>
      <%= f.text_field :budget %>
    </div>
  
    <div class="field">
      <%= f.label :code %>
      <%= f.text_field :code %>
    </div>
  
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
  